.footer__input-error {
  color: #b44545;
  font-size: 10px;
  line-height: 1.1;
  opacity: 1;
  position: absolute;
  left: 1px;
  top: -25px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
