.selector {
  margin: 37px auto;
  text-align: left;
  max-width: 90%;
}

@media all and (max-width: 1212px) {
  .selector {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 800px) {
  .selector {
    text-align: center;
  }
}
@media all and (max-width: 555px) {
  .selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
  }
}
