.header {
  position: relative;
  background-image: url("../../image/header.jpg");
  background-size: cover;
  z-index: 1;
  min-height: 252px;
  max-width: 1280px;
  margin: 0 auto;
}
.header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(31, 32, 33, 0.79);
  opacity: 0.8;
  z-index: -1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

.header__info-container {
  display: flex;
  margin: 1% 0 0;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
}
.header__contaoner-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 50%;
}
.header__nav-bar {
  margin: 0;
  padding: 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__title {
  font-size: 38px;
  line-height: 1.2;
  color: #ffffff;
  margin: 49px 0 0;
}

.header__logo {
  width: 78px;
  height: 50px;
}

.header__link {
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  transition: opacity ease-in-out 0.4s;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:hover {
  opacity: 0.6;
}

.header__phone-number {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
  transition: opacity ease-in-out 0.4s;
}
.header__phone-number:hover {
  opacity: .8;
}
.header__phone-subtitle {
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  margin: 3px 0 0;
}

@media all and (max-width: 788px) {
  .header {
    display: flex;
    align-items: center;
    background-position-x: -350px;
  }
  .header__container {
    flex-direction: column;
    padding: 0;
  }
  .header__contaoner-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .header__info-container {
    align-self: center;
    align-items: center;
    margin-top: 15px;
  }
  .header__title {
    margin-top: 25px;
    font-size: 28px;
  }
  .header__nav-bar {
    margin-top: 25px;
    width: 100%;
  }
  .header__link {
    font-size: 15px;
  }
  .header__phone-number {
    font-size: 18px;
  }
  .header__phone-subtitle {
    font-size: 18px;
  }
}
@media all and (max-width: 590px) {
  .header__title {
    margin-top: 10px;
    font-size: 22px;
  }
  .header__nav-bar {
    margin-top: 15px;
  }
  .header__contaoner-left {
    max-width: 90%;
  }
  .header__phone-number {
    font-size: 17px;
  }
  .header__phone-subtitle {
    font-size: 17px;
  }
}
@media all and (max-width: 350px) {
  .header__title {
    margin-top: 7px;
    font-size: 17px;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header__contaoner-left {
    max-width: 90%;
    margin-bottom: 10px;
  }
  .header__phone-number {
    font-size: 14px;
  }
  .header__phone-subtitle {
    font-size: 12px;
  }
}
