.header__link {
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: opacity ease-in-out 0.4s;
  -o-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:hover {
  opacity: 0.6;
}
@media all and (max-width: 788px) {
  .header__link {
    font-size: 15px;
  }
}
