.header__container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 50%;
}
@media all and (max-width: 788px) {
  .header__container-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (max-width: 590px) {
  .header__container-left {
    max-width: 90%;
  }
}
@media all and (max-width: 350px) {
  .header__container-left {
    margin-bottom: 10px;
  }
}
