.popup__close {
  background-color: initial;
  border: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0;
  top: -41px;
  right: -37px;
  cursor: pointer;
  background-image: url("../../../image/svg/CloseIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.popup__close:hover {
  opacity: 0.8;
}

@media all and (max-width: 682px) {
  .popup__close {
    top: -45px;
    right: 10px;
    width: 26px;
    height: 26px;
  }
}
