.cards__age-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 46px 0 22px;
  padding: 0;
}

@media all and (max-width: 1114px) {
  .cards__age-container {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media all and (max-width: 900px) {
  .cards__age-container {
    margin-right: 46px;
    margin-left: 46px;
  }
}
@media all and (max-width: 740px) {
  .cards__age-container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media all and (max-width: 590px) {
  .cards__age-container {
    margin-right: 46px;
    margin-left: 46px;
  }
}
@media all and (max-width: 401px) {
  .cards__age-container {
    margin: 0;
  }
}
